extends layout

block scripts
    script(type='text/javascript', src='/javascripts/megasugar.js')

block content
    div(data-ng-app='megasugar', data-ng-controller='TestController')
        h1
            | {{ text }}